*.class
*.log
.idea/**
**/target/**
.bsp/**
.metals/**
.vscode/**
.bloop/**
project/.bloop/
project/metals.sbt
project/project/
.mcp.json
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
